/* Reset CSS */
:root{
    --white-color: #fff;
    --black-color: #000;
    ---text-color: #333;
}

*{
    box-sizing: inherit;

}

html{
    /* Hack  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{

}

.grib{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grib__full-width{
    width: 100%;
}

.grib__row{
    display: flex;
    flex-wrap: wrap;
}

